.time{
    padding-top: 80px;
    text-align: center;
}
h1{
    font-size: 90px;
}
.dateName{
    text-align: center;
}
.input_form{
  margin-left: 300px;
}
.dic{
    text-align: center;
}
.image_section{
    text-align: center;
}
body{
  background: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* padding-bottom: 100px; */
}